* {
	box-sizing: border-box;
	max-width: 100%
}

:root{
	--orange: #f74c17;
	--white: #fff;
	--black: #000;
	--bor: #999
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	box-sizing: border-box;
}

body,
#menu a { color: #333 }

body,
#menuToggle,
#menu ul,
figure { margin: 0 }

body,
#menu ul { padding: 0 }

main a,
.orange { color: var(--orange) }

.bgw { background-color: var(--white) }

body,
input,
select,
button { font: 400 16px Poppins }

.bold { font-weight: 700 }

.block,
label,
img { display: block }

.grid { display: grid }

.tc { text-align: center }

.w100,
img { width: 100% }

.up { text-transform: uppercase }

a {
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

header {
	top: 0;
	left: 0;
	transition: transform 300ms linear;
	.content {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	}
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	&:disabled {
		color: #999;
	}
	&:not(:disabled):active {
		background-color: #ddd;
	}
	&:focus {
		border-color: #666;
	}
}

#products {
	grid-gap: 2rem;
	figcaption { padding: 10px }
}

#product {
	grid-gap: 3em;
}

#price {
	margin-bottom: 2rem;
	font-size: 1.4rem;
}

#cartIt {
	grid-template-columns: 80px 1fr;
	grid-gap: 1rem;
	max-width: 400px;
}

#extra ul {
	padding-left: 15px;
}

.noBor {
	border: none;
	background-color: transparent
}

@media screen and (min-width: 1200px) {
	header {
		position: fixed;
		text-align: right;
		.small {
			#menu a {
				padding: 0 10px;
			}
			#logo {
				width: 150px;
			}
		}
	}
	#logo {
		position: absolute;
		width: 290px;
		top: 0;
		left: 0;
		padding: 10px 20px 20px;
	}
	#menuToggle {
		display: none;
	}
	#menu {
		li {
			display: inline-block;
		}
		a {
			padding: 20px 10px;
			&:not(.active) {
				color: var(--black);
			}
		}
	}
	#hero {
		padding-top: 96px;
	}
}
@media screen and (max-width: 1200px) {
	#menuToggle,
	#menu.active {
		display: block;
	}
	#menu {
		&:not(.active) {
			display: none;
		}
		&.active {
			margin-top: 1rem;
		}
		li {
			display: block;
		}
		a {
			padding: 1rem 1.5rem;
			border-top: 1px solid var(--bor);
		}
	}
	#menuToggle {
		width: 48px;
		height: 48px;
		position: absolute;
		top: 0.5rem;
		right: 0;
		svg { fill: var(--orange) }
	}
	header {
		position: absolute;
		padding: 0.5rem 1.5rem;
	}
	#logo {
		width: 100px;
	}
	#hero {
		padding-top: 78px;
	}
}

@media screen and (min-width: 650px) {
	#hero {
		height: 500px;
	}
	#product {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 650px) {
	#hero {
		height: 350px;
	}
}

@media screen and (min-width:400px){
	#products {
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
	}
	.py {
		padding-top: 3rem;
		padding-bottom: 3rem
	}
}