* {
	box-sizing: border-box;
	max-width: 100%
}

:root{
	--orange: #f74c17;
	--white: #fff;
	--black: #000
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	padding: 0;
	box-sizing: border-box
}

body,
figure { margin: 0 }

main a,
.orange { color: var(--orange) }

.bgw { background-color: var(--white) }

body,
input,
select,
button { font: 400 16px Poppins }

.bold { font-weight: 700 }

.block { display: block }

.grid { display: grid }

.tc { text-align: center }

.w100,
img { width: 100% }

.up { text-transform: uppercase }

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label,
img {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#products figcaption { padding: 10px }

#products { grid-gap: 2rem }

@media screen and (min-width:400px){
	#products {
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	}
	.py {
		padding-top: 3rem;
		padding-bottom: 3rem
	}
}